/* custom.css */

.abstract-label {
  font-variant: small-caps;
}

.sidebar {
  /*text-align: right*/
  color: rgba(255,255,255,.7);
}

h1.post-title  {
  /*text-align: right*/
  color: #800000;

}

.sidebar-about h1 {
  margin-bottom: 0px;
  line-height: 1;
}

.sidebar .lead {
  font-size: 1rem;
  line-height: 1.2;
}

.sidebar-nav {
  text-align: right;
}

.sidebar-logo img {
  margin: 20px auto;
}

ul.social {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  padding: 0px;
}

ul.social li {
  display: inline;
  padding: 0px 5px;
}

ul.social li a {
  color: rgba(255,255,255,.7);
}

ul.social li a:hover {
  color: rgba(255,255,255,1);
}
